.h1 {
  font-size: 28px;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.rows-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  padding-block: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form {
  position: relative;
  padding: 10px;
  background-color: #333;
  width: 150px;
  height: 30px;
  z-index: 10;
}

input {
  padding-block: 4px;
  height: 100%;
  position: absolute;
  top: 2px;
  right: -6px;
}

form button {
  padding-block: 7px;
  padding-inline: 10px;
  position: absolute;
  top: 1.5px;
  right: -6px;
  background-color: green;
  border: 0;
}
